/*Configurações do footer*/

.footer__conteudo .flex{
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.footer__conteudo{
    width: 100%;
    margin: -5px 0;
    padding: 40px;
    background-color: rgb(155, 255, 180);
}

.footer__conteudo h2{
    color: rgb(56, 78, 35);
    font-weight: 800;
    margin: 20px 0;
}

.footer__conteudo nav ul{
    list-style-type: none;
}

.footer__conteudo nav ul li{
    display: inline-block;
    padding: 30px;
}

.footer__conteudo nav ul li a{
    text-decoration: none;
    color: rgb(85, 105, 65);
    font-weight: 700;
}

.footer__conteudo nav ul li a:hover{
    color: #fff;
}

.footer__conteudo .icon img{
      margin: 40px 20px;
      cursor: pointer;
}

.footer__conteudo .icon a{
   text-decoration: none;
}


