/*Configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0px auto;
}

/*Configuração do reader*/

header{
    background-color: #3ebeff;
    padding: 0px 2%;
}
header > .container{ 
    display: flex;
    justify-content: space-between;
    text-align: center;
}

header .header__logo{
    margin-top: 40px;
} 

header a{
    text-decoration: none;
    color: #ffffffc1;
    font-weight: 500;
    display: inline-block;
    transition: .2s;
}


header nav ul{
    list-style-type: none;
    margin-left: 40em;
}

header nav ul li{
   display: inline-block;
   text-align: center;
   padding: 10px 20px;
}

header nav ul li a:hover{
    transform: scale(1.10);
    color: #fff000;
    font-weight: 800;
}

header .titulo{
    text-align: center;
}

header .header__button button{
    background-color: #fff;
    padding: 12px 20px;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

header .header__button button:hover{
     background-color: #76ccf7;
     color: #fff;
     transform: scale(1.10);
     font-weight: 800;
}
