
/*Configurações do topo side*/


 /*.topo__side .container__img img{
     max-width: 100%;
     margin-bottom: -5px;
}*/

topo__side .container .container__img{
    background: no-repeat center/cover url('../images/desktop/image-header.jpg');
    width: 100%;
    height: 100vh;
}


/*.topo__side .container .container__img .titulo h1{
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding-top: 8rem;
}*/

.topo__side .container__leaude{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topo__side .container__leaude .leaude__conteudo{
      background-color: #fff;
      width: 100%;
      height: 562px;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      padding: 40px 20px;
}

.container__leaude .leaude__conteudo .leaude{
    background-color: #fff;
    width: 500px;
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.container__leaude .leaude__conteudo .leaude h2{
    font-size: 30px;
    font-weight: 900;
    width: 350px;
}

.container__leaude .leaude__conteudo .leaude p{
    text-align: justify;
}

.container__leaude .leaude__conteudo .leaude span{
    font-weight: 900;
}

.container__leaude .leuade__img img{
    background-color: #fff;
    width: 100%;
}

.container__leaude .leaude__photography{
    background: no-repeat center/cover url('../images/desktop/image-graphic-design.jpg');
    width: 100%;
    height: 550px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container__leaude .leaude__photography .leaude__graphic-design, .conteudo{
    background-color: transparent;
    width: 400px;
    margin: 20rem 6rem 3rem 6rem;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    
}

.container__leaude .leaude__graphic-design{
    background: no-repeat center/cover url('../images/desktop/image-photography.jpg');
    width: 100%;
    height: 550px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaude__photography h3{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: rgb(9, 15, 4);
}

.leaude__graphic-design h3{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: rgb(4, 4, 26);
}

.leaude__photography .leaude__graphic-design, p{
    text-align: justify;
    font-size: 15px;
    text-align: center;
}