
/*Configurações do topo side*/
/* section.topo__side{
    padding: 0px 2%;
} */

.topo__side .container__img{
    background: no-repeat center/cover url('../images/desktop/image-header.jpg');
    width: 100%;
    height: 90vh;
    text-align: center;
}

.topo__side .container__img img{
     margin-top: 113px;
}


.topo__side .container__img .titulo h1{
    padding-top: 50px;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.topo__side .container__leaude{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topo__side .container__leaude .leaude__conteudo{
      background-color: #fff;
      /* width: 100%; */
      height: 562px;
      padding: 40px 20px;
      /* display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center; */
}

.container__leaude .leaude__conteudo .leaude{
    background-color: #fff;
    width: 500px;
    margin: 8rem auto;
    /* display: flex; 
    flex-direction: column;
    gap: 20px; */
}

.container__leaude .leaude__conteudo .leaude h2{
    width: 350px;
    margin: 40px 0px;
    font-size: 30px;
    font-weight: 900;
}

.container__leaude .leaude__conteudo .leaude p{
    text-align: justify;
}

.container__leaude .leaude__conteudo .leaude .borda__span-1, .borda__span-2, a{
    margin-top: 40px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 900;
    font-size: 16px;
}

.container__leaude .leaude__conteudo .leaude .borda__span-1:hover{
    /* border-bottom: 5px solid red; */
    text-decoration-line: underline; 
    text-decoration-thickness: 5px; 
    text-decoration-color: aqua;
}

.container__leaude .leaude__conteudo .leaude .borda__span-2 .borda a:hover{
    text-decoration-line: underline; 
    text-decoration-thickness: 5px; 
    text-decoration-color: red;   
}

.container__leaude .leuade__img img{
    background-color: #fff;
    width: 100%;
}

.container__leaude .leaude__photography{
    background: no-repeat center/cover url('../images/desktop/image-graphic-design.jpg');
    width: 100%;
    height: 550px;
    margin-top: -5px;
    /* display: flex;
    justify-content: center;
    align-items: center;   */
}

.container__leaude .leaude__photography .leaude__graphic-design, .conteudo{
    background-color: transparent;
    width: 400px;
    margin: 22rem auto;
    /* margin: 20rem 6rem 3rem 6rem; */
    /* display: flex;
    flex-direction: column; 
    gap: 20px;
     */
}

.container__leaude .leaude__graphic-design{
    background: no-repeat center/cover url('../images/desktop/image-photography.jpg');
    width: 100%;
    height: 550px;
    margin-top: -5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.leaude__photography h3{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: rgb(9, 15, 4);
}

.leaude__graphic-design h3{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    color: rgb(4, 4, 26);
}

.leaude__photography .leaude__graphic-design, p{
    text-align: justify;
    font-size: 15px;
    text-align: center;
}